{% extends "base.html" %}
{% block content %}

{% if user.is_authenticated %}

<h1 class="text-center  mt-3">{{ booking.description }}</h1>
<!-- Upper Secion -->
<div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5 ">
    <div class="">
        <div class="container">
            <div class="row g-0">
                <div class="col-md-6 ">
                    <h2 class="">{{ booking.description }} - Attending: {{ attending }}</h2>
                    <p class="">Organised by {{ booking.user }} for {{ booking.created_on }}</p>
                    <p class="">Where "it will take place": {{ booking.type }}</p>
                    <p class=""><strong>Additonal Details:</strong> {{ booking.content }}</p>
                </div>
                <div class="d-none d-md-block col-md-6 masthead-image">
                    <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Lower Secion -->
<div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5 ">
    <div class="container">
        <div class="row">
            <div class="col-md-4 card mb-4  mt-3 ">
                <h3 class="card-title mt-4">Mark attending status:</h3>
                <div class="card-body">
                    <p>People attending: {{ attending }}</p>
                    <p>Might attend: {{ tentative }}</p>
                    <!-- Attendance Buttons -->
                    <div class="row">
                        <form class="d-inline mt-4" action="{% url 'attending' booking.id %}" method="POST">
                            {% csrf_token %}
                            {% if attending %}
                            <button type="submit" name="booking_id" value="{{booking.id}}" class="btn btn-outline-secondary"><i class="fa-solid fa-square-check"></i> Attending</button>
                            {% elif not tentative %}
                            <button type="submit" name="booking_id" value="{{booking.id}}" class="btn btn-outline-secondary"><i class="fa-regular fa-square-check"></i> Not Marked as Attending</button>
                            {% endif %}
                        </form>
                    </div>
                    <div class="row">
                        <form class="d-inline mt-4" action="{% url 'tentative' booking.id %}" method="POST">
                            {% csrf_token %}
                            {% if tentative %}
                            <button type="submit" name="booking_id" value="{{booking.id}}" class="btn btn-outline-secondary"><i class="fa-solid fa-hand"></i> Might be attending</button>
                            {% elif not attending %}
                            <button type="submit" name="booking_id" value="{{booking.id}}" class="btn btn-outline-secondary"><i class="fa-regular fa-hand"></i> Not Attending</button>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
            <!-- Comments -->
            <div class="col-md-4 card mb-4  mt-3 ">
                <h3 class="card-title mt-4">Comments:</h3>
                <div class="card-body">
                    {% for comment in comments %}
                    <div class="comments">
                        <p class="font-weight-bold">
                            {{ comment.name }}
                            <span class=" text-muted font-weight-normal">
                                {{ comment.created_on }}
                            </span> wrote:
                        </p>
                        {{  comment.body | linebreaks }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Adding Comments -->
            <div class="col-md-4 card mb-4  mt-3 ">
                <h3 class="card-title mt-4">Leave a comment:</h3>
                <div class="card-body">
                    {% if new_comment %}
                    <div class="alert alert-success" role="alert">
                        Your comment is awaiting approval
                    </div>
                    {% else %}  
                    <div class="form-group">
                        <form method="post">
                            {{ comment_form.as_p }}
                            {% csrf_token %}
                            <button type="submit" class="btn btn-secondary">Submit</button>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}

<div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5 ">
    <h1 class="p-2  me-3">You Are Not Signed in!</h1>
    <a href="{% url 'register' %}" class="btn btn-primary shadow text-center">Sign in</a>
</div>

{% endif %}


{% endblock %}