{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<h1 class="text-center  mt-3">{{ booking.description }}</h1>

<div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5 ">
    {{ booking.user }}<br/>
    {{ booking.description }}<br/>
    {{ booking.day }}<br/>
    {{ booking.time }}<br/>
</div>

{% else %}

<div class="shadow p-4 mb-5 bg-body bg-body rounded text-black  m-5 ">
    <h1 class="p-2  me-3">You Are Not Signed in!</h1>
    <a href="{% url 'register' %}" class="btn btn-primary shadow text-center">Sign in</a>
</div>

{% endif %}


{% endblock %}