{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Events -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for appointment in page_obj %}
                <div class="col-md-4">
                    <div class="card bg-light border-light mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <img class="card-img-top"
                                    src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                            </div>
                            <div class="post-link text-decoration-none text-muted">
                                <h2 class="card-title my-2">Game: {{ appointment.description }}</h2>
                                <p class="card-text"> {{ appointment.type }}</p>
                                <p class="card-text">Date: {{ appointment.day }}</p>
                                <p class="font-italic">Organiser: {{ appointment.user }}</p>
                            </div>
                            {% if user.is_authenticated  %}
                            <div>
                            <a href="{% url 'bookingDetails' appointment.id %}" class="btn btn-secondary">View Details</a>
                            {% if user == appointment.user %}
                            <a href="{% url 'bookingUpdate' appointment.id %}" class="btn btn-info">Edit Details</a>
                            <a href="{% url 'bookingDelete' appointment.id %}" class="btn btn-danger">Delete</a><!-- Add confirmation, defensive -->
                            {% endif %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
                    <div>
                        <div class="row">
                        </div>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Pagination -->
    <nav aria-label="Event Page Navigation">
        <ul  class="step-links pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
            {% endif %}
            <!-- <li class="page-item disabled"><a class="page-link" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li> -->

            {% for i in nums %}
            <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
                <li class="page-item"></li><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
            {% endif %}
        </ul >
    </nav >    
</div>
{%endblock%}